.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(114, 9, 9);
    height: 6vh;
    /* padding-left: 30px; */
    /* margin: 100px; */
}

.container > p {
    color: #fff;
    font-size: 15px;
}