.container {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #343A40;
    height: 10px;
}

img {
    height: 50px;
    width: 50px;
}

.title {
    font-family: sans-serif;
    align-items: center;
    gap: px;
    color: white;
    margin-right: 71%;
    font-size: 20px;
    white-space: nowrap;
}

.title > p {
    color: #fff;
}